<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping address</h4>
        <button class="btn btn-outline-success mb-3" (click)="saveUserAddress()" [disabled]="!checkoutForm.get('addressForm')?.valid || !checkoutForm.get('addressForm')?.dirty">
            Save as default address
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-test-input [label]="'First name'" formControlName="firstName"></app-test-input>
        </div>
        <div class="form-group col-6">
            <app-test-input [label]="'Last name'" formControlName="lastName"></app-test-input>
        </div>
        <div class="form-group col-6">
            <app-test-input [label]="'Street'" formControlName="street"></app-test-input>
        </div>
        <div class="form-group col-6">
            <app-test-input [label]="'City'" formControlName="city"></app-test-input>
        </div>
        <div class="form-group col-6">
            <app-test-input [label]="'State'" formControlName="state"></app-test-input>
        </div>
        <div class="form-group col-6">
            <app-test-input [label]="'Zip code'" formControlName="zipcode"></app-test-input>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row b-5" routerLink="/basket">
    <button class="btn btn-outline-primary">
        <i class="fa fa-angle-left"></i> Back to basket
    </button>

        <button class="btn btn-primary" cdkStepperNext>
       Go to Delivery <i class="fa fa-angle-right"></i>
    </button>
</div>